# Python 관련 파일들
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 환경 설정 파일
*.env
#*.ini
#*.toml

# 패키지
*.egg-info/
.eggs/
*.egg
*.log

# 환경 관리 파일
.vscode/
.idea/
venv/
.env/
.Python

# poetry 관련
#poetry.lock
.venv/
.mypy_cache/
.dmypy.json
.pyre/
.tox/
.pytest_cache/

# alembic 관련
alembic/versions/*.pyc

# FastAPI 관련
instance/
static/

# Docker 관련
*.pid
*.log
docker-compose.override.yml
docker-compose.local.yml

# Pytest 관련
htmlcov/
.coverage
.cache
pytestdebug.log

# Test 관련
tests/__pycache__/
tests/.pytest_cache/

# IDE 설정 관련
*.iml